html body {
  background-image: none;
}
html body .study-abroad-box {
  background-image: url('bg.png');
  background-size: cover;
  background-attachment: fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg.png',sizingMethod='scale');
  width: 100%;
  height: 959px;
}
html body .study-abroad-box .sectionStep1 {
  width: 900px;
  margin: 0 auto;
}
html body .study-abroad-box .sectionStep1 .stepDv {
  padding-top: 73px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl {
  width: 768px;
  margin: 0 auto;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item {
  width: 171px;
  margin: 0 auto;
  margin-left: 124px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  float: left;
  height: 51px;
  line-height: 51px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item .icon {
  background: url('./icon.png') no-repeat;
  width: 51px;
  height: 51px;
  display: block;
  float: left;
  margin-right: 13px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.current {
  color: #ffff00;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itema {
  margin-left: 0;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itema .icon {
  background-position: 0 0;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itema.current .icon {
  background-position: 0 -51px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itemb .icon {
  background-position: -51px 0;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itemb.current .icon {
  background-position: -51px -51px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itemc .icon {
  background-position: -102px 0;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepUl .item.itemc.current .icon {
  background-position: -102px -51px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepProgress {
  margin-top: 13px;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 5px;
  background-color: #c3e180;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepProgress .yellow-dv {
  width: 35%;
  background-color: #ffff00;
  height: 100%;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepProgress .yellow-dv.step1Width {
  width: 35%;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepProgress .yellow-dv.step2Width {
  width: 68%;
}
html body .study-abroad-box .sectionStep1 .stepDv .stepProgress .yellow-dv.step3Width {
  width: 100%;
}
html body .study-abroad-box .sectionStep1 .contentDv {
  height: 700px;
  background-color: #fff;
  width: 100%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 15px;
  text-align: center;
  padding-top: 44px;
  border-bottom: 5px solid #f35d02;
  float: left;
  display: none;
}
html body .study-abroad-box .sectionStep1 .contentDv .title {
  font-size: 18px;
  color: #8d8b14;
}
html body .study-abroad-box .sectionStep1 .contentDv .wantToGo {
  margin-top: 48px;
  font-size: 18px;
}
html body .study-abroad-box .sectionStep1 .contentDv .wantToGo label {
  margin-left: 10px;
  margin-right: 18px;
  font-weight: normal;
}
html body .study-abroad-box .sectionStep1 .contentDv .wantToGo label:hover {
  cursor: pointer;
}
html body .study-abroad-box .sectionStep1 .contentDv .wantToGo .form-tips {
  margin-left: 363px !important;
  margin-top: -8.5px !important;
  width: 112px !important;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo {
  font-size: 18px;
  margin: 0 auto;
  margin-top: 38px;
  width: 710px;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .selectDv {
  float: left;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .marginDv {
  margin-left: 80px;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .boSelect {
  width: 160px;
  height: 40px;
  float: left;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select {
  height: 40px;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select.open .btn-default.dropdown-toggle {
  border-color: #49c4fa;
  color: #49c4fa;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .btn-default.dropdown-toggle {
  background: #fff;
  border: 2px solid #ccc;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  font-size: 14px;
  text-align: center;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .btn-default.dropdown-toggle:after,
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .btn-default.dropdown-toggle:before {
  border-bottom: 6px solid #49c4fa;
  bottom: -22px;
  left: auto;
  right: 12px;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .btn-default.dropdown-toggle:before {
  border: 0;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .btn-default.dropdown-toggle .filter-option {
  text-align: center;
  width: auto;
  height: 40px;
  line-height: 40px;
  margin-top: -8px;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu {
  border: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #49c4fa;
  color: #fff;
  margin: auto;
  top: 150%;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu.inner {
  padding: 8px 0;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu li {
  padding: 0;
  background: none !important;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu li a {
  border: 2px solid #49c4fa;
  -moz-outline: none;
  outline: none;
  //blr: expression(this.onFocus=this.blur());
  color: #fff;
  padding: 3px 10px;
  margin: 0 20px;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu li a:hover {
  border: 2px solid #fff;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu li a:focus {
  border: 2px solid #fff;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu li.selected a {
  border: 2px solid #49c4fa;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .bootstrap-select .dropdown-menu li.selected a:hover {
  border: 2px solid #fff;
}
html body .study-abroad-box .sectionStep1 .contentDv .planeGoTo .lin40 {
  line-height: 40px;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution {
  margin: 0 auto;
  margin-top: 20px;
  width: 750px;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li {
  width: 230px;
  height: 130px;
  border: 1px dashed #49c4fa;
  float: left;
  text-align: left;
  padding: 10px;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li .title {
  font-size: 18px;
  color: #000;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li .adDv {
  color: #9f9f9f;
  font-size: 12px;
  margin-top: 5px;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li .adDv .advantageColor {
  color: #49c4fa;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li label {
  font-weight: normal;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li:hover {
  background-color: #f8fdff;
  cursor: pointer;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution li.full {
  margin: 0 30px;
}
html body .study-abroad-box .sectionStep1 .contentDv .solutionDv .ulSolution .form-tips {
  margin-left: 743px !important;
  margin-top: -7.5px !important;
  width: 112px !important;
}
html body .study-abroad-box .sectionStep1 .contentDv .buttonDv {
  margin-top: 60px;
}
html body .study-abroad-box .sectionStep1 .contentDv .buttonDv button {
  width: 175px;
  height: 50px;
  font-size: 21px;
}
html body .study-abroad-box .sectionStep1 #stepContentBoxB button {
  width: 190px;
  height: 50px;
}
html body .study-abroad-box .sectionStep1 #educationBox {
  width: 100%;
}
html body .study-abroad-box .sectionStep1 #educationBox .ws-education1 {
  width: 750px;
  margin: 0 auto;
}
html body .study-abroad-box .sectionStep1 #educationBox .content {
  width: 100%;
  height: 300px;
  background: #fff;
  padding: 30px 0 0 40px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl {
  padding: 10px 0;
  height: 40px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd {
  float: left;
  height: 40px;
  margin-right: 10px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd input {
  border: 2px solid #ccc;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  color: #676767;
  width: 220px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd input:focus {
  border: 2px solid #49c4fa;
  color: #49c4fa;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd select {
  height: 40px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .laydate-icon {
  background-position: 95% center;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select {
  height: 40px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select.open .btn-default.dropdown-toggle {
  border-color: #49c4fa;
  color: #49c4fa;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .btn-default.dropdown-toggle {
  background: #fff;
  border: 2px solid #ccc;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  font-size: 14px;
  text-align: center;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .btn-default.dropdown-toggle:after,
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .btn-default.dropdown-toggle:before {
  border-bottom: 6px solid #49c4fa;
  bottom: -22px;
  left: auto;
  right: 12px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .btn-default.dropdown-toggle:before {
  border: 0;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .btn-default.dropdown-toggle .filter-option {
  text-align: center;
  width: auto;
  height: 40px;
  line-height: 40px;
  margin-top: -8px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu {
  border: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #49c4fa;
  color: #fff;
  margin: auto;
  top: 150%;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu.inner {
  padding: 8px 0;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu li {
  padding: 0;
  background: none !important;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu li a {
  border: 2px solid #49c4fa;
  -moz-outline: none;
  outline: none;
  //blr: expression(this.onFocus=this.blur());
  color: #fff;
  padding: 3px 10px;
  margin: 0 20px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu li a:hover {
  border: 2px solid #fff;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu li a:focus {
  border: 2px solid #fff;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu li.selected a {
  border: 2px solid #49c4fa;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl dd .bootstrap-select .dropdown-menu li.selected a:hover {
  border: 2px solid #fff;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl .sex {
  padding: 10px 15px 0 0;
  float: left;
  width: 55px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl .sex input {
  width: 20px;
  height: 20px;
}
html body .study-abroad-box .sectionStep1 #educationBox .content dl .sex label {
  margin: auto;
  font-weight: normal;
}
html body .study-abroad-box .sectionStep1 #educationBox .buttonDv button {
  width: 190px;
  height: 50px;
}
.form-tips {
  position: absolute;
  cursor: default;
  height: 30px;
  width: 100%;
  z-index: 1340;
}
.form-tips .arrow {
  float: left;
  background: url("http://new.rrliuxue.com/WebResources/images/tips/arrow.png") no-repeat left center;
  width: 5px;
  height: 30px;
}
.form-tips .tip-box {
  float: left;
  height: 30px;
}
.form-tips .tip-box .tip-top,
.form-tips .tip-box .tip-bottom {
  background: url("http://new.rrliuxue.com/WebResources/images/tips/tips.png") no-repeat;
}
.form-tips .tip-box .tip-center,
.form-tips .tip-box .tip-content,
.form-tips .tip-box .tip-center-box .tip-top,
.form-tips .tip-box .tip-center-box .tip-bottom {
  background: url("http://new.rrliuxue.com/WebResources/images/tips/bg.png") repeat;
}
.form-tips .tip-box .tip-left-box,
.form-tips .tip-box .tip-right-box {
  width: 4px;
  height: 30px;
  float: left;
}
.form-tips .tip-box .tip-left-box .tip-top,
.form-tips .tip-box .tip-right-box .tip-top,
.form-tips .tip-box .tip-left-box .tip-bottom,
.form-tips .tip-box .tip-right-box .tip-bottom {
  height: 4px;
}
.form-tips .tip-box .tip-left-box .tip-center,
.form-tips .tip-box .tip-right-box .tip-center {
  height: 22px;
}
.form-tips .tip-box .tip-left-box .tip-top {
  background-position: 0 0;
}
.form-tips .tip-box .tip-left-box .tip-bottom {
  background-position: 0 -4px;
}
.form-tips .tip-box .tip-right-box .tip-top {
  background-position: -4px 0;
}
.form-tips .tip-box .tip-right-box .tip-bottom {
  background-position: -4px -4px;
}
.form-tips .tip-box .tip-center-box {
  height: 30px;
  float: left;
}
.form-tips .tip-box .tip-center-box .tip-top,
.form-tips .tip-box .tip-center-box .tip-bottom {
  height: 4px;
}
.form-tips .tip-box .tip-center-box .tip-content {
  font-size: 12px;
  color: #fff;
  height: 22px;
  line-height: 22px;
  padding: 0 10px;
}
/*# sourceMappingURL=study-abroad.css.map */